/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.mask_checkbox {
  margin-left: 10px;
}

.select-view-div {
  padding-top: 2px;
}

.select-view-div .btn {
  width: 80%;
}

.chart {
  min-width: 200px;
  height: 400px;
  margin: 0 auto;
}

.chart-selected-message {
  padding: 10px 20px;
  display: inline-block;
}

.my_view {
  display: none;
}

.highlight_red {
  border: 1px solid red;
}

.highlight_blue {
  border: 1px solid blue;
}

.highlight_green {
  border: 1px solid green;
}

.highlight_yellow {
  border: 1px solid yellow;
}